.appbar{
    background: #8e24aa;
    background: -webkit-linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
    background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5) !Important ;
    text-decoration-color: white;
}
.container{
    max-width: 1170px;
    margin: auto;
    overflow: hidden;

}   
.button-label{
    font-weight: 200;
}
#avatar-status {
    position: relative;
    display: inline-block;
    line-height: 50px;
    width: 28px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
}
#search{
    padding-left: 20px;
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #7514c5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #14171a;
    display: block;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    padding: 8px 8px 8px 8px;
    transition: all .2s ease-in-out;
    width: 100%;
    font-weight: 500;
}
#hasuraButtonNav{
    background: #0288d1;
    border-radius: 21px;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
    
    
}
li{
    margin-left: 0;
    font-size: 14px;
    line-height: 8px;
    margin-bottom: 7px;
    word-wrap: break-word;
    text-align: inherit;
}
li > p{
    font-size: 12px;
}
li > a {
    text-align: left;
    
}
a{
    color: #1c94e0;
    text-decoration:none;
}
ul{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
     list-style: none;
     padding: 5px;

}
#TrendsForYou{
    padding: 10px;
}
#TrendsForYou > span{
    color: black;
}
#TrendsForYou > span > a{
    font-size: 12px;
    padding-left:5px;
}
#cardMedia{
    min-height: 50%;
    background-color: #0288d1;
}

.DashboardProfileCard-bg {
    background-size: 100%;
    height: 95px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-position: 0 50%;
    width: 100%;
    padding: 0;
    margin-top: -1px;
}

.u-bgUserColor, .u-bgUserColorHover:hover, .u-bgUserColorHover:focus {
    background: #0288d1;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}
.u-block {
    display: block!important;
}
.DashboardProfileCard-avatarImage {
    margin-left: 10px;
    margin-top: -31px;
    border-radius: 50%;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
.DashboardProfileCard-userFields {
    position: absolute;
    top: 103px;
    left: 90px;
    width: 185px;
}
.DashboardProfileCard-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: -1px 0 -2px 0;
}
.u-textTruncate {
    max-width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    word-wrap: normal!important;
}
.DashboardProfileCard-screennameLink {
    font-size: 12px;
    padding-right: 5px;
    color: #66757f;
}
.ProfileCardStats-statLabel {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .02em;
    line-height: 16px;
    overflow: hidden;
    transition: color .15s ease-in-out;
}
.u-textUserColor, .u-textUserColorHover:hover, .u-textUserColorHover:hover .ProfileTweet-actionCount, .u-textUserColorHover:focus {
    color: #1DA1F2 !important;
}


.u-linkClean, .u-linkClean:hover, .u-linkClean:focus, .u-linkClean:active {
    text-decoration: none!important;
}
.ProfileCardStats-statValue {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    transition: color .15s ease-in-out;
}

.DashboardProfileCard .ProfileCardStats {
    padding-top: 16px;
    overflow: hidden;
}

.ProfileCardStats {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.Arrange--equal {
    table-layout: fixed;
}

.u-textTruncate {
    max-width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    word-wrap: normal!important;
}
.Arrange {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
.userName{
    margin: 10px;
}
.u-line {
    
    display: inline;
    line-height: 15px;
}
.u-line > li{
    display: inline;
    padding: 5px;
    font-size: 12px;
}
#followButton{
    margin-top: 5px;
    border-radius: 21px;
    font-size: 10px;
    min-width: 89px;
    background: #8e24aa;
    background: -webkit-linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
    background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);  
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);  
    
}
#full-width
{
    text-decoration: none;
}
#searchComp {
    margin: 10px;
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #7514c5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #14171a;
    display: block;
    font-size: 1px;
    height: 45px;
    line-height: 35px;
    transition: all .2s ease-in-out;
    width: 100%;
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 10px;
}
#width{
    min-width: 150px;
    width: 450px;
}
#postSearch{
    background: #43A047;
    background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    box-shadow: 0 6px 20px 0 rgba(255, 111, 0, 0.3);
}
#whoToFollow{
    white-space: nowrap;
}
.searchResultBar{
    background: #0288d1;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}